/* * {
margin: 0;
padding: 0;
font-family: sans-serif;
} */
div.margin {
    background-color: white;
    max-width:900;
    padding: 75;
    margin: auto;
}
body {
    background-image: url('img/Background.jpg');
    min-height: 100vh;

    display: flexbox;
	align-items: center;
	justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: auto;
    padding-top: calc(var(--image-ratio)*100%);
}

/* table {
    border-collapse: collapse;
} */
a {
    text-decoration: none;
    color: inherit;
    font-size: large;
}
a:link, a:visited {
    background-color: white;
    color: black;
    text-decoration: none;
    display: block;
    cursor: crosshair;
}
a:hover, a:active {
    background-color: lightgray;
}
.round1 {
    border-radius: 10px;
}
.border {
    border-style: solid;
}
hr.yellow {
    border-top: 1px solid #F8D030;
}
@font-face {
    font-family: Type;
    src: url(font/Essentiarum\ Regular.ttf);
}
@font-face {
    font-family: Paldean;
    src: url(font/ThraexSansRegular-v1000.ttf);
}
.pokemon{
	flex-basis: 80%;
	/* display: flex; */
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	/* background-image: url(img/Background.jpg); */
    background-color: gray;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}