/* * {
margin: 0;
padding: 0;
font-family: sans-serif;
} */
div.margin {
    background-color: white;
    width:900;
    padding: 75;
    margin: auto;
}
body {
    background-image: url('img/Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }    
/* table {
    border-collapse: collapse;
} */
a {
    text-decoration: none;
    color: inherit;
}
a:link, a:visited {
    background-color: white;
    color: black;
    text-decoration: none;
    display: block;
    cursor: crosshair;
}
a:hover, a:active {
    background-color: lightgray;
}
.round1 {
    border-radius: 10px;
}
.border {
    border-style: solid;
}
hr.yellow {
    border-top: 1px solid #F8D030;
}
@font-face {
    font-family: Type;
    src: url(font/Essentiarum\ Regular.ttf);
}
@font-face {
    font-family: Paldean;
    src: url(font/ThraexSansRegular-v1000.ttf);
}